<h1>ConsumerAffairs Instagram Photos</h1>

<p>This an example of using the Instagram API within the Rails framework.</p>

<p>These pictures are loaded into a database and then rendered on this page.</p>

<% @photos.each do |photo| %>

    <%= image_tag photo.data %>
    <br>
    <p><b>Caption:</b></p>
    <%=photo.text%>
    <br>
    <hr>

<% end %>

<!-- Example of loading photos pulled straight from Instagram
<% @instagram.each do |instagram| %>

  <% if instagram.tags.include?("consumeraffairs") %>
    <%= image_tag instagram.images.standard_resolution.url %>
    <br>
    <p><b>Caption:</b></p>
    <%=instagram.caption.text%>
    <br>
    <hr>

  <% end %>

<% end %>-->
