<h1>ConsumerAffairs Instagram Photos</h1>

<p>This an example of using the Instagram API within the Rails framework</p>

<% @instagram.each do |instagram| %>

  <% if instagram.tags.include?("consumeraffairs") %>
    <%= image_tag instagram.images.standard_resolution.url %>
    <br>
    <p><b>Caption:</b></p>
    <%=instagram.caption.text%>
    <br>
    <hr>

  <% end %>

<% end %>
